*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Po
  }
  
  body {
    /* background-color: #c1cefa; */
    height: 700vh;
  }

  #Home{
    min-height: 65vh;
  background-color: #09141d;
  }

.HouseHero img {
    margin-top: 3%;
    height: 60vh;
    width: 40vw;
    border: solid black 1px;
    border-top-left-radius: 190%;
    border-top-right-radius: 190%;
    border-bottom-left-radius: 0;
  }
