*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    }
#register {
    height: 105vh;
    width: 100vw;
    background-color: #fff;
    padding: 20px;
    /* border-bottom: solid 1px black; */
    /* background-image: url(/assets/subscribe2.jpg); */
    /* background-color: #368D96; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

div.card {
  border: #368D96 solid 1px;
}

div.card-header {
  font-size: 25px;
  border: #368D96 solid 1px;
}

button.btn {
  background-color: #368D96;
  color: #fff;
}


button.btn:hover{
  background-color: #000;
  text-decoration: none;
  color: #368D96;
}
/* .container {
  padding: 20%;
} */